/* reset */
body, div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  align-items: center;
}

.app {
  width: 400px;
  height: 600px;
  box-shadow: 0 2px 15px #ccc;
  margin-top: 200px;
  align-items: stretch;
}

.title {
  font-size: 20px;
  align-items: center;
  padding: 20px;
}

.items {
  margin: 10px 0;
  text-align: center;
}
